/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

#root {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
}

.header__link:hover {
    text-decoration: underline;
}

/* Main */
.main {
    background-color: brown;
    background-image: linear-gradient(to bottom, #062d14, black);
    padding: 20px;
    margin: 0 10px 10px;
    border-radius: 15px;
    flex:1;
}

.main__texts {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
}

.main__link:hover {
    text-decoration: underline;
}